################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/mcc27.github.io/config/applicationhost.config
/.vs/mcc27.github.io/v16/.suo
/.vs
